html body {
  font-family: "Inter", "Noto Sans JP", sans-serif;
  font-weight: 200;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  overflow-x: hidden;
  transition:
    background-color 0.3s ease;
}

:root {
  --background-color: #f2f6f9;
  --background-image: url(img/banner.webp);
  --section-color: #f9fcff;
  --section-text: #444;
  --progress: #6bd0d2;
  --work: #f0f0f0;
  --input: #fff;
  --caret: #000;
  --show-more: #fff;
  --button: #fff;
  --nav-text: #000;
  --nav: #fff;
  --select: #f2f6f9;
  --theme-image: url(img/light.svg);
  --selection: #dbedff;
  --button-hover: #f6f6f6;
}

:root:has(#theme:checked) {
  --background-color: #121212;
  --background-image: url(img/bannerDark.webp);
  --section-color: #1e1e1e;
  --section-text: #e0e0e0;
  --progress: #6bd0d2;
  --work: #2e2e2e;
  --input: #3a3a3a;
  --caret: #fff;
  --show-more: #666;
  --button: #3a3a3a;
  --nav-text: #fff;
  --nav: #1a1a1a;
  --select: #5d6e7b;
  --theme-image: url(img/dark.svg);
  --selection: #506f8e;
  --button-hover: #666;
}

.theme {
  background-color: var(--section-color);
  background-image: var(--theme-image);
  position: fixed;
  z-index: 10000000;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  right: 10px;
  top: 10px;
  border: 1px solid #a3c9ff;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: top 10px left 10px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

header {
  height: 480px;
  background-image: var(--background-image);
  background-size: cover;
  background-position: center top;
  font-family: 'Inter', sans-serif;
  font-weight: 100;
  color: #fff
}

.headerBanner {
  font-size: 72px;
  padding: 40px 40px 20px 40px;
  transform: none;
  transition: transform 0.4s ease;
}

.headerBanner:hover {
  transform: translateX(13px);
}

.accesses {
  font-size: 20px;
  padding-left: 40px;
  font-weight: 100;
}

.headerWrapper {
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 100%;
  transition: background-color 1.5s ease;
}

.nav a {
  color: var(--nav-text);
  position: relative;
  display: block;
  transition:
    color 0.3s ease,
    transform 0.5s ease;
}

a {
  display: inline-block;
  text-decoration: none;
  color: currentColor;
  transition:
    color 0.3s ease,
    transform 0.5s ease;
}

a:hover {
  color: #007fff;
  transform: translateY(-2px);
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  background: #007fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  height: 1.5px;
}

.nav a:hover::after {
  transform: scaleX(1);
}

.nav {
  position: sticky;
  top: 0;
  background-color: var(--nav);
  font-size: 20px;
  display: flex;
  padding: 10px;
  align-items: center;
  z-index: 10000;
  transition: background-color 0.3s ease;
}

.nav .banner {
  font-size: 36px;
  padding: 0 20px;
  font-weight: 100;
  opacity: 0;
  transform: translateY(-16px);
  transition:
    opacity 0.8s ease,
    transform 0.8s ease;
  transition-delay: 0.4s;
}

.nav li {
  list-style: none;
  transform: translateY(-16px);
  opacity: 0;
  transition:
    transform 0.8s ease,
    opacity 0.8s ease;
  margin-right: 20px;
}

.nav ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

main {
  flex: 1;
}

footer {
  background-color: var(--nav);
  padding: 10px;
  transition: background-color 0.3s ease;
}

footer .text {
  color: var(--section-text);
  padding: 16px;
  font-size: 16px;
  transition: color 0.5s ease;
}

section {
  margin: 25px auto;
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
  max-width: 800px;
  border: 0 solid #a3c9ff;
  transition:
    box-shadow 0.5s ease,
    border 0.2s ease,
    max-height 0.5s ease,
    background-color 0.3s ease,
    color 0.3s ease;
  box-shadow: none;
  border: 1px solid rgba(163, 201, 255, 0);
  contain: layout;
  transform: translateZ(0);
}

section:hover {
  box-shadow: 0 0 10px rgba(163, 201, 255, 0.3);
  border: 1px solid #a3c9ff;
}

section.i {
  transition:
    opacity 1s ease,
    transform 0.7s ease,
    box-shadow 0.5s ease,
    border 0.2s ease,
    max-height 1s ease,
    background-color 0.3s ease,
    color 0.3s ease;
}

@media (max-width: 830px) {
  section {
    margin: 25px 15px;
  }
}

.showMore {
  position: absolute;
  left: 0px;
  bottom: 0;
  font-size: 20px;
  height: 80px;
  width: calc(100% - 40px);
  padding: 20px;
  background: linear-gradient(rgba(255, 255, 255, 0), var(--show-more) 50%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.3s ease;
  opacity: 1;
  -webkit-tap-highlight-color: transparent;
}

.delete {
  pointer-events: none;
  opacity: 0;
}

.shorten {
  max-height: 100svh !important;
}

.i {
  opacity: 0;
  transform: translateY(10px);
  transition:
    opacity 1s ease,
    transform 0.7s ease;
}

.i.ss {
  opacity: 1;
  transform: none;
}

.st {
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 180;
}

.st2 {
  font-size: 24px;
  margin: 20px 0 10px 0;
  font-weight: 180;
}

.sbb {
  background-color: var(--section-color);
  color: var(--section-text);
}

p {
  margin: 0.25em 0;
}

::selection {
  background-color: var(--selection);
  color: currentColor;
}

small {
  margin-bottom: 10px;
  display: block;
}

.list {
  list-style: none;
}

.work {
  background-color: var(--work);
  padding: 20px;
  margin: 15px;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.formula {
  font-family: "Inter", "Noto Sans JP", sans-serif;
  font-weight: 200;
  font-size: 16px;
  height: 24px;
  padding: 8px 16px;
  border-radius: 24px;
  width: calc(100% - 32px);
  border: none;
  background-color: var(--input);
  caret-color: var(--caret);
  color: var(--section-text);
  transition:
    color 0.3s ease,
    background-color 0.3s ease;
}

.formula:focus {
  outline: 2px solid #ccc;
}

.button {
  display: inline-block;
  border-radius: 10000px;
  padding: 5px 1em;
  cursor: pointer;
  margin: 10px;
  background-color: var(--button);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  user-select: none;
}

.button:hover {
  background-color: var(--button-hover);
}

.selectWrap {
  width: 100%;
  display: flex;
  background-color: var(--nav);
}

.selectInner {
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: var(--select);
  transition: background-color 0.3s ease;
}

.selectInner.selected {
  background-color: var(--nav);
}

.flashcardsWrap {
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--nav);
  transition: background-color 0.3s ease;
}

.flashcardsScreen {
  background-color: var(--nav);
  padding: 20px;
  transition: background-color 0.3s ease;
}

.fcsCard {
  background-color: var(--section-color);
  border-radius: 15px;
  display: flex;
  width: 100%;
  margin: 10px 0;
  flex-direction: row;
  transition: background-color 0.3s ease;
}

.fcsWord {
  width: calc(50% - 20px);
  white-space: none;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  padding: 10px;
  text-align: left;
  margin: 0;
  font-size: 26px;
}

.fcsMean {
  width: calc(50% - 20px);
  padding: 10px;
  text-align: left;
  margin: 0;
  font-size: 20px;
}

@media (max-width: 500px) {
  .fcsCard {
    flex-direction: column;
  }

  .fcsWord, .fcsMean {
    width: calc(100% - 20px);
  }
}

a:hover .icon {
  opacity: 0.5;
}

c-l {
  display: inline-block;
  width: calc(50% - 0.5rem - 1px);
  text-align: right;
  padding-right: 0.5rem;
  border-right: 1px solid #aaa;
  height: 100%;
  vertical-align: middle;
}

c-r {
  display: inline-block;
  width: calc(50% - 0.5rem);
  text-align: left;
  padding-left: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  height: 100%;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  vertical-align: middle;
}

.a c-r {
  white-space: normal;
}

.progressWrapper {
  height: 2px;
  position: fixed;
  z-index: 10000000;
  width: 100%;
}

.progressInner {
  width: 100%;
  background-color: var(--progress);
  height: 100%;
  transform-origin: left;
}

.clock {
  width: 150px;
  height: 150px;
  padding: 20px 0 20px 40px;
}

.monteCarlo {
  width: 100%;
  max-width: 400px;
}

i-e {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  background-size: 1rem;
  vertical-align: middle;
  background-image: url(img/externalLink.svg);
}

.footerLogo {
  margin: 0 16px 16px 16px;
}

.footerLogo img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
  opacity: 1;
  transition: opacity 0.3s ease;
  object-fit: contain;
}

.footerLogo img:hover {
  opacity: 0.5;
}

.formInput {
  position: relative;
  margin-top: 30px;
  display: block;
  height: 40px;
}

.formInput input {
  position: absolute;
  font-family: "Inter", "Noto Sans JP", sans-serif;
  font-weight: 200;
  font-size: 16px;
  height: 24px;
  padding: 8px 16px;
  border-radius: 24px;
  width: calc(100% - 32px);
  border: none;
  text-align: center;
  z-index: 1;
  top: 0;
  left: 0;
}

.formInput input {
  background-color: var(--input);
  color: var(--section-text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.formInput input:focus {
  outline: 2px solid #ccc;
}

.formInput label {
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: darkgray;
  font-size: 16px;
  padding: 8px;
  z-index: 300;
  transition:
    transform 0.5s ease,
    color 0.5s ease;
}

.formInput input:not(:placeholder-shown) + label {
  transform: translate(-50%, calc(-50% - 35px)) scale(0.8);
  color: #555;
}

.formInput input:focus + label {
  transform: translate(-50%, calc(-50% - 35px)) scale(0.8);
  color: #555;
}

.loading {
  transition: height 0.4s ease;
}