html, body {
  font-family: "Yu Gothic UI Light", "Roboto", "Noto Sans JP", sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
}

header {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 1.2px solid #e8ecef;
  padding: 20px 0px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  backdrop-filter: blur(8px);
  width: 100%;
}

.header-title {
  padding: 0px 30px;
  font-size: 32px;
}

.header-text {
  font-size: 16px;
}

.header-items {
  text-align: right;
  height: 100%;
  padding: 0px 30px;
  gap: 1.5rem;
}

.header-items, a {
  padding: 0px 0.5rem;
}

main {
  flex: 1;
  padding: calc(90px + 1rem) 3rem 1rem 3rem;
  font-size: 16px;
}

.main-title {
  font-size: 24px;
}

.main-works {
  text-align: center;
  margin: 1rem 0px;
}

.main-work {
  text-align: left;
  width: calc(100vw - 8rem);
  padding: 1rem;
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  border: 1.2px solid #e8ecef;
  margin: 1rem 0px;
}

.main-work-title {
  font-size: 24px;
}

.main-work-explain {
  flex-direction: column;
}

.main-work, img {
  height: 100px;
  padding-right: 1rem;
}

footer {
  background-color: #fff;
  border-top: 1.2px solid #e8ecef;
  padding: 20px 0px;
  text-align: center;
}

.footer-text {
  font-size: 16px;
}

a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #6366f1;
}

::-webkit-scrollbar {
  background-color: #eee;
  width: 6px;
  border-left: 1px solid #bbb;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

.blog-img {
  width: 50vw;
  height: auto;
  margin: 2rem;
}

.blog-posts {
  font-size: 20px;
}

.blog-text {
  font-size: 16px;
}

.blog-button {
  font-family: "Yu Gothic UI Light", "Roboto", "Noto Sans JP", sans-serif;
  font-size: 16px;
  padding: 0.25rem;
  background-color: #fbfcfd;
  border: 1px solid #eef2f4;
  border-radius: 2px;
  transition: background-color ease 0.3s;
}

.blog-button:hover {
  background-color: #f3f6f8;

}






